<p><%= link_to 'ログインページ', new_user_session_path %></p>
<p><%= link_to 'サインアップページ', new_user_registration_path %></p>

<%= form_tag '#', id: 'message' do %>
  <%= text_field_tag 'body' %>
<% end %>
<ul id="message-list">
</ul>
